# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/13_Roman_to_Integer/13_Roman_to_Integer
/21_Merge_Two_Sorted_Lists/21_Merge_Two_Sorted_Lists
/1672_Richest_Customer_Wealth/1672_Richest_Customer_Wealth
/1342_Number_of_Steps_to_Reduce_a_Number_to_Zero/1342_Number_of_Steps_to_Reduce_a_Number_to_Zero
/412_Fizz_Buzz/412_Fizz_Buzz